@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --font-main: "Poppins", sans-serif;
  --clr-background: rgb(255, 255, 255);
  --clr-dark-gray: gray;
  --clr-dark-black: #121212;
  --clr-dark-text: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-main);
  margin: 0 auto;
  font-size: 20px;
}

.wrapper {
  background-color: var(--clr-background);
}

.wrapper h2 {
  font-size: 35px;
}

.container {
  width: 95%;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}








/* PHONE SCREEN*

/* -------------------------Header/Navbar */
header {
  padding-top: 0rem;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}


/* home/projects/skills/contact box*/
.navbar__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 100%;
  max-width: 500px;
  margin-top: 0;
}


/* home/projects/skills/contact text color*/
.navbar__ul a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 400;
}

/* home/projects/skills/contact list*/
.navbar__ul li {
  background: white;
  width: 50%;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}






/* hello, my name is jacob. i am a robotics engineer */
/* about me box*/
.header__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 2rem;
  margin: 0 auto;
  max-width: 95%;
}
/* pic */
.header__container img {
  width: 50%;
  border-radius: 50%;
  filter: grayscale(100%);
  /* border: 2px solid black; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 15px 0px;
}


.header__text__container {
  padding-top: 3rem;
}
/* about me text */
.header__text {
  padding-left: 0rem; /* separation between image and about me text, 0 for phone screen bc img is above text*/
  font-size: 20px;
  font-weight: 1000;
  line-height: 2rem;
  text-align: center;
}
/* End of Header/Navbar--------------------- */













/* Portfolio section ----------------------- */
.portfolio,
.portfolio__container {
  display: flex;
}
.portfolio {
  background-color: rgb(255, 255, 255);
  margin-top: 2.5rem;
  padding-top: 3rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* projects header */
.portfolio__header {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.portfolio__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  width: 98%;
}

.card {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  min-width: 100%;
  /*   box-shadow: 5px 5px 5px #fbbebe; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 15px 0px;
  padding: 1.5rem;
}

.card img {
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: black;
}

.card h2 {
  font-weight: 700;
  margin-bottom: -1rem;
  font-size: 25px;
}

.card p {
  font-weight: 200;
  margin-top: -1rem;
  text-align: justify;
}

.card ul {
  font-weight: 200;
  text-align: justify;
}

.text-container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .card p {
    font-size: 16px;
  }
  .card ul {
    font-size: 16px;
  }
}

/* End of services------------------------ */














/* Skills --------------------------------- */
.skills {
  text-align: center;
  margin-top: 100px;
}

/* skills header */
.skills h2 {
  font-size: 50rem;
  margin-bottom: 3rem;
}
.skills-container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
}

.skills__item {
  margin-bottom: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}

/*
.skills__item img:hover {
  transform: scale(1.1);
  transition: ease-out 0.001s;
}
*/

.skills img {
  max-width: 80px;
  margin-bottom: -5px;
}















/* Footer --------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3rem;
  width: 100%;
  background-color: var(--clr-background);
}

.footer__nav {
  width: 100%;
  display: flex;
  min-height: 30px;
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
  justify-content: space-between;
}


/* contact header*/
footer h2 {
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

/* contact text */
footer p {
  margin: 0 auto;
}

.footer__text-container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.footer__links-container {
  padding-top: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 7rem;
}

.footer__item {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}


/* jacobsayono copyright 2022*/
.footer__nav h2 {
  text-transform: none;
  font-size: 1rem;
  margin-bottom: 0px;
}

.to-top {
  margin-right: 0px;
  margin-bottom: 0px;
}

.to-top a {
  text-decoration: none;
  color: black;
}











/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/







/* TABLET SCREEN */
/* 768px */
@media screen and (min-width: 768px) {
  .header__container {
    min-width: 600px;
  }

  header {
    padding-bottom: 4rem;
  }
  .navbar {
    width: 100%;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    padding-left: 1rem;
    padding-bottom: 60px;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
  }

  .navbar__ul a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
  }

  .navbar__ul li {
    padding: 5px 15px 15px 10px;
    background-color: transparent;
  }





  /* about me section */
  .header__container {
    padding-top: 10rem;
    padding-bottom: 16rem;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    max-width: 85%;
  }

  .header__container img {
    max-width: 300px;
  }

  .header__text {
    text-align: left;
    padding-left: 4rem; /* separation between image and about me text*/
    font-size: 40px;
    margin-top: 1rem;
    line-height: 3.5rem;
  }

  /* Portfolio section at 768----------- */
  .portfolio__container {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1165px;
  }

  .card {
    min-width: 90%;
  }

  .card img {
    margin-bottom: 1rem;
  }

  /* Skills at 768 ------------------- */

  .skills {
    width: 80%;
    text-align: center;
    margin-top: 4rem;
  }

  .skills-container {
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 30px;
  }

  .skills h2 {
    font-size: 2rem;
  }

  .skills__item {
    margin-left: 40px;
    margin-right: 40px;
  }



  
  /* Footer at 768px ---------------- */
  footer {
    display: flex;
    align-items: center;
  }

  footer p {
    max-width: 400px;
    margin-bottom: 0;
  }

  .phone,
  .email {
    margin-right: 8px;
    text-decoration: none;
  }

  .footer__nav {
    width: 95%;
  }

  .footer__nav h2 {
    font-size: 1.5rem;
  }

  .to-top {
    font-size: 1rem;
  }
}







/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/









/* COMPUTER SCREEN */
/* min width 1024 ---------------------------------- */
@media screen and (min-width: 1024px) {
  .navbar,
  .navbar__ul,
  .header__container {
    display: flex;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar__ul {
    flex-direction: row;
  }

  .navbar__ul li {
    padding: 40px 15px 15px 0px;
  }

  .navbar__ul .link {
    margin: 0;
  }

  .header__container {
    padding-top: 10rem;
    padding-bottom: 18rem;
    flex-direction: row-reverse;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
  }

  .header__container img {
    max-width: 330px;
  }

  .header__text {
    padding-left: 5rem; /* separation between image and about me text*/
  }

  /* Portfolio section------------------------- */
  .portfolio__container {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1165px;
  }

  .card {
    max-width: 100%;
  }

  .card img {
    margin-bottom: 1rem;
  }

  .card p {
    font-weight: 200;
  }
}
  /* End Portfolo------------------------------ */


















* button {
  color: black;
}



/* Dark mode------------------------------- */
button[class="darkmode"] {
  cursor: pointer;
  background-color: white;
  border: transparent;
}

.darkmode .portfolio {
  background-color: var(--clr-dark-black);
  color: var(--clr-dark-text);
}

.darkmode footer {
  background-color: var(--clr-dark-black);
  color: var(--clr-dark-text);
}

.darkmode .header__container img {
  box-shadow: rgba(255, 255, 255, 1) 0px 2px 15px 0px,
  rgba(255, 255, 255, 0.4) 0px 2px 5px 0px;
}

.darkmode .card {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 2px 15px 0px,
  rgba(255, 255, 255, 0.4) 0px 2px 5px 0px;
}

.darkmode .skills__item img {
  background-color: white;
  border: 15px solid white;
  border-radius: 25%;
}

.darkmode .footer__item img {
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
}

/*
.darkmode .card img {
  background-color: white;
  border: 1rem solid white;
  border-radius: 5%;
}
*/

.darkmode .card p {
  color: white;
}

.darkmode .card h2 {
  color: white;
}

.darkmode .wrapper {
  background-color: var(--clr-dark-black);
  color: var(--clr-dark-text);
}

.darkmode .navbar__ul li {
  color: var(--clr-dark-text);
  background-color: transparent;
}

.darkmode a[href] {
  color: var(--clr-dark-text);
}

.darkmode button {
  color: white;
}















/* ------------------- PROJECTS GALLERY SCROLLING --------------------------*/

.gallery-container {
  position: relative;
  margin-top: 1rem;
}

.gallery-container img {
  object-fit: fill; /* fill, cover, contain, none, scale-down */
  min-height: 200px;
  max-height: 200px;
  border-radius: 1%;
}

@media screen and (min-width: 768px) {
  .gallery-container img {
    min-height: 500px;
    max-height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-container img {
    min-height: 643.5px;
    max-height: 643.5px;
  }
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.gallery-container .prev,
.next {
  left: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: 0rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0px 20px 20px 0px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: auto;
  right: 0;
  border-radius: 20px 0px 0px 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.prev1,
.next1 {
  left: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: 0rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0px 20px 20px 0px;
  user-select: none;
  -webkit-user-select: none;
}

.next1 {
  left: auto;
  right: 0;
  border-radius: 20px 0px 0px 20px;
}

.prev1:hover,
.next1:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  background-color: rgb(200, 200, 200, 0.95);
  border-radius: 5%;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .numbertext{
    font-size: 15px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .numbertext{
    font-size: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .w3-badge {display:none}
}



.row:after {
  content: "";
  display: table;
  clear: both;
}


/* navigation bubbles at bottom of images gallery*/
.w3-badge {height:15px;width:15px;padding:0}



/* Show more */
#more, #more1 {display: none;} /* id="more1" */

button {
  background-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid black;
  border-radius: 5%;
  color: black;
}

button:hover {
  cursor: pointer;
}

.darkmode button {
  color: black;
  border-color: white;
  background-color: white;
}

.dots, .dots1 {
  margin-top: none;
}